<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>starálfur</title>
    <meta name="description" content="starálfur">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/simplex/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        @font-face {
            font-family: "samskeyti";
            font-style: normal;
            font-weight: 300;
            src: url("samskeyti-Regular.otf") format("opentype");
        }
        .v-spacer{
            display:block;
            height: 4em;
        }
        .samskeyti {
            font-family: "samskeyti";
        }
        h1.samskeyti{
            font-size: 64px;
        }
    </style>
</head>
<body ng-controller="AppController">
  
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="v-spacer" ng-show="!user.id"></div>
                <div class="v-spacer" ng-show="!user.id"></div>
                <h1 class="samskeyti">starálfur</h1>
                <h3><small>search Instagram photos</small></h3>
                <div class="v-spacer" ng-show="!user.id && !search.id"></div>
                <a href="#" ng-show="!user.id" ng-click="login()" class="btn btn-lg btn-default"><i class="fa fa-instagram" style="font-size:xx-large;"></i>&nbsp;&nbsp;Login
</a>
                <div class="row" ng-show="user.id && !search.id">
                    <div class="col-lg-2 col-lg-offset-4 col-xs-6">
                        <a href="#" ng-click="setSearchId(user.id)" class="thumbnail">
                          <img ng-src="{{user.thumbnail}}" class="" alt="You">
                        </a>
                        <a href="#" ng-click="setSearchId(user.id)" >Your photos</a>
                    </div>
                    <div class="col-lg-2 col-xs-6">
                        <a href="#" ng-click="setSearchId(search.foundUser)" class="thumbnail">
                          <img ng-src="{{search.thumbnail}}" class="" alt="{{search.username}}">
                        </a>
                        <div class="input-group">
                          <span class="input-group-addon">@</span>
                          <input type="text" ng-model="search.username" placeholder="insert user name" ng-change="searchUser()" class="form-control">
                        </div>
                        
                    </div>
                </div>
                
                <div class="row" ng-show="user.id && search.id">
                    <div class="col-lg-4 col-lg-offset-4 col-xs-12">
                        <div class="input-group">
                              <span class="input-group-addon">#</span>
                              <input class="form-control input-lg" type="text" ng-model="search.word" placeholder="search by caption">
                        </div>
                    </div>
                </div>
                
                <div class="row" ng-show="user.id && search.id">
                    <div class="progress" ng-show="count && loading">
                      <div class="progress-bar" role="progressbar" ng-style="{width: (media.length/count)+'%'}">
                        {{(media.length/count)}}%
                      </div>
                    </div>
                    <div class="col-lg-3 col-xs-6" ng-repeat="m in media | filter:match">
                        <a href="{{m.link}}" target="_blank" class="thumbnail">
                          <img ng-src="{{m.images.standard_resolution.url}}" alt="{{m.caption.text}}">
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  <script src="js/hello.all.min.js"></script>
  <script>
      

    angular.module('app', [])
    .controller('AppController', ['$scope', '$http', '$window', function($scope, $http, $window) {
        
        var hello = $window.hello;
        $scope.access_token = '';
        $scope.user = {id:'', thumbnail: 'http://placehold.it/300&text=You'};
        $scope.media = [];
        
        $scope.init = function(){
            hello.init({ 
                instagram : 'f9b6f7bd772044dd9f0344dc5af4f056'
            },{redirect_uri:''});
            
            hello.on('auth.login', function(auth){
               $scope.access_token = auth.authResponse.access_token;
                    // call user information, for the given network
                    hello( auth.network ).api( '/me' ).then( function(r){
                        $scope.user = r;
                        $scope.$apply();
                    });
                });
        };
        $scope.init();
        
        $scope.login = function(){
            $window.hello('instagram').login();
        };
        
        $scope.match = function(value, index){
            if(!$scope.search) return true;
            if(!value.caption || !value.caption.text) return false;
            return value.caption.text.toLowerCase().indexOf($scope.search.word.toLowerCase())>=0;
        };
        
        $scope.max_id = '';
        $scope.search = {
            user: '',
            id: '',
            word: '',
            thumbnail: 'http://placehold.it/300&text=another user'
        };
        $scope.count = null;
        $scope.loading = false;
        
        $scope.loadMedia = function(){
            if($scope.search.id){
                if($scope.count===null){
                    var url = 'https://api.instagram.com/v1/users/' + $scope.search.id + '/?access_token=' + $scope.access_token + '&callback=JSON_CALLBACK';
                    $http.jsonp(url)
                        .success(function(response){
                            $scope.count = response.data.counts.media;
                            $scope.loading = true;
                        });
                }
                var url = 'https://api.instagram.com/v1/users/' + $scope.search.id + '/media/recent/?access_token=' + $scope.access_token + '&count=33&callback=JSON_CALLBACK';
                if($scope.max_id)
                    url = url + '&max_id=' + $scope.max_id;
                $http.jsonp(url)
                    .success(
                        function(response, status){
                            $scope.media = $scope.media.concat(response.data);
                            $scope.max_id = response.pagination.next_max_id;
                            if(response.pagination.next_url){
                                $scope.loadMedia();
                            } else {
                                $scope.loading = false;
                            }
                        }
                    ).error(
                        function(response, status){
                    
                        }
                    );
            }
        };
        
        $scope.doSearch = function(){
            $scope.loadMedia();
        };
        
        $scope.searchUser = function(){
            if($scope.search.username){
                var url = 'ttps://api.instagram.com/v1/users/search?q=' + $scope.search.username + '&access_token=' + $scope.access_token + '&count=1&callback=JSON_CALLBACK';
                $http.jsonp(url)
                    .success(function(response){
                        if(response.data[0].username.toLowerCase()==$scope.search.username.toLowerCase()){
                            $scope.search.foundUser = response.data[0].id;
                            $scope.search.thumbnail = response.data[0].profile_picture;
                        }
                    });
            }
        }
        
        $scope.setSearchId = function(id){
            $scope.search.id = id;
            $scope.loadMedia();
        };
        
    }]);


      
      
      

      var access_token = '';
      
      
  </script>
</body>
</html>
