<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>starálfur</title>
    <meta name="description" content="starálfur: a staring elf who finds your Instagram photos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/simplex/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        @font-face {
            font-family: "samskeyti";
            font-style: normal;
            font-weight: 300;
            src: url("samskeyti-Regular.otf") format("opentype");
        }
        .v-spacer{
            display:block;
            height: 4em;
        }
        .samskeyti {
            font-family: "samskeyti";
        }
        h1.samskeyti{
            font-size: 64px;
        }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>
<body ng-controller="AppController" ng-cloak>
    <script>
   if (window.location.protocol != "https:")
	    window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
   </script>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="v-spacer" ng-show="!user.id"></div>
                <div class="v-spacer" ng-show="!user.id"></div>
                <h1 class="samskeyti">starálfur</h1>
                <h3><small>search <a href="https://instagram.com{{search.id ? '/'+search.username : ''}}" target="_blank">{{search.id ? '@'+search.username : 'Instagram'}}</a> photos</small></h3>
                <div class="v-spacer" ng-show="!user.id && !search.id"></div>
                <a href="#" ng-show="!user.id" ng-click="login()" class="btn btn-lg btn-default"><i class="fa fa-instagram" style="font-size:xx-large;"></i>&nbsp;&nbsp;Login
</a>
                <div class="row" ng-show="user.id && !search.id">
                    <div class="col-lg-2 col-lg-offset-4  col-md-3 col-md-offset-3 col-xs-6">
                        <a href="#" ng-click="setSearchId(user.id)" class="thumbnail">
                          <img ng-src="{{user.thumbnail}}" class="" alt="You">
                        </a>
                        <a href="#" ng-click="setSearchId(user.id)" >Your photos</a>
                    </div>
                    <div class="col-lg-2 col-xs-6 col-md-3">
                        <a href="#" ng-click="setSearchId(search.foundUser)" class="thumbnail">
                          <img ng-src="{{search.thumbnail}}" class="" alt="{{search.username}}">
                        </a>
                        <div class="input-group">
                          <span class="input-group-addon">@</span>
                          <input type="text" ng-model="search.username" placeholder="insert user name" ng-change="searchUser()" class="form-control">
                        </div>

                    </div>
                </div>

                <div class="row" ng-show="user.id && search.id">
                    <div class="col-lg-4 col-lg-offset-4 col-xs-12">
                        <div class="input-group">
                              <span class="input-group-addon">#</span>
                              <input class="form-control input-lg" type="text" ng-model="search.word" placeholder="search by caption">
                        </div>
                        <div class="pull-left"><input type="checkbox" ng-model="search.comments" ng-change="toggleComments()"> search also in comments</div>
                        <small class="pull-right"><a href="#" ng-click="setSearchId('')">change user</a></small>
                        <div class="v-spacer"></div>
                    </div>
                </div>

                <div class="row" ng-show="user.id && search.id">
                    <div class="progress" ng-show="count && loading">
                      <div class="progress-bar" role="progressbar" ng-style="{width: media.length*100/count+'%'}">
                        {{media.length+' / '+count}}
                      </div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="col-lg-3 col-xs-6" ng-repeat="m in media | filter:match">
                        <a href="{{m.link}}" target="_blank" class="thumbnail">
                          <img ng-src="{{m.images.standard_resolution.url}}" alt="{{m.caption.text}}">
                        </a>
                    </div>
                </div>

                <div class="v-spacer"></div><div class="v-spacer"></div><div class="v-spacer"></div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 col-xs-12">
                        <hr>
                        <small class="text-muted">made by @samskeyti79 - <a href="https://instagram.com/samskeyti79" target="_blank"><i class="fa fa-instagram"></i></a> <a href="https://twitter.com/samskeyti79"><i class="fa fa-twitter"></i>
</a></small>
                        <div><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://samskeyti.github.io/staralfur/" data-via="samskeyti79" data-related="samskeyti79">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div><div><div class="fb-like" data-href="https://samskeyti.github.io/staralfur/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
                        <div class="v-spacer"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  <script src="js/hello.all.min.js"></script>
  <script>


    angular.module('app', [])
    .controller('AppController', ['$scope', '$http', '$window', function($scope, $http, $window) {

        $scope.version = '1.0';
        $scope.storage = $window.sessionStorage;
        var hello = $window.hello;
        $scope.access_token = '';
        $scope.user = {id:'', thumbnail: 'https://placehold.it/300&text=You'};
        $scope.media = [];

        $scope.init = function(){
            hello.init({
                instagram : 'f9b6f7bd772044dd9f0344dc5af4f056'
            },{redirect_uri:''});

            hello.on('auth.login', function(auth){
               $scope.access_token = auth.authResponse.access_token;
                    // call user information, for the given network
                    hello( auth.network ).api( '/me' ).then( function(r){
                        $scope.user = r;
                        $scope.$apply();
                    });
                });
        };
        $scope.init();

        $scope.login = function(){
            $window.hello('instagram').login();
        };

        $scope.match = function(value, index){
            if(!$scope.search.word || $scope.search.word.length<3) return false;
            if(!value.caption || !value.caption.text) return false;
            var s = $scope.search.word.toLowerCase().trim();
            var c = value._search ? value._search : '';
            if(s.indexOf(' ')>0){
                var a = s.split(' ');
                for(var i=0; i<a.length; i++){
                    if(a[i].charAt(0)=='-'){
                        if(c.indexOf(a[i].substring(1))>=0) return false;
                    }
                    else {
                        if(c.indexOf(a[i])<0) return false;
                    }
                }
                return true;
            } else {
                return c.indexOf(s)>=0;
            }
        };

        $scope.max_id = '';
        $scope.search = {
            user: '',
            id: '',
            word: '',
            thumbnail: 'https://placehold.it/150&text=another user'
        };
        $scope.count = null;
        $scope.loading = false;

        $scope.setSearch = function(res){
          var d = res.data;
          d._search = d.caption && d.caption.text ? d.caption.text.toLowerCase() : '';
          for(var j=0; j<res.data.comments.data.length; j++){
            if(res.data && res.data.comments && res.data.comments.data[j] && res.data.comments.data[j].text){
              var comment = res.data.comments.data[j];
              d._search += ' ' + comment.text.toLowerCase();
              if(comment.from && comment.from.username)
                d._search += ' ' + comment.from.username.toLowerCase();
                if(comment.from && comment.from.full_name)
                  d._search += ' ' + comment.from.full_name.toLowerCase();
                }
              }
          return d;
        };

        $scope.storageId = function(type, id){
          return type + '/' + id;
        };

        $scope.loadMedia = function(){
            if($scope.search.id){
                if($scope.count===null){
                    var url = 'https://api.instagram.com/v1/users/' + $scope.search.id + '/?access_token=' + $scope.access_token + '&callback=JSON_CALLBACK';
                    $http.jsonp(url)
                        .success(function(response){
                            $scope.count = response.data.counts.media;
                            $scope.loading = true;
                        });
                }
                var url = 'https://api.instagram.com/v1/users/' + $scope.search.id + '/media/recent/?access_token=' + $scope.access_token + '&count=33&callback=JSON_CALLBACK';
                if($scope.max_id)
                    url = url + '&max_id=' + $scope.max_id;
                $http.jsonp(url)
                    .success(
                        function(response, status){
                            for(var i=0; i<response.data.length; i++){
                              if($scope.search.comments){
                                if($scope.storage[$scope.storageId('media', response.data[i].id)]){
                                  var res = angular.fromJson($scope.storage[$scope.storageId('media', response.data[i].id)]);
                                  var d = $scope.setSearch(res);
                                  $scope.media.push(d);
                                } else {
                                  $http.jsonp('https://api.instagram.com/v1/media/' + response.data[i].id + '?access_token=' + $scope.access_token + '&callback=JSON_CALLBACK')
                                    .success(function(res){
                                      var d = $scope.setSearch(res);
                                      if($scope.search.id)$scope.media.push(d);
                                      $scope.storage[$scope.storageId('media', res.data.id)] = angular.toJson(res);
                                    });
                                }
                              } else {
                                var d = response.data[i];
                                d._search = d.caption && d.caption.text ? d.caption.text.toLowerCase() : '';
                                if($scope.search.id)$scope.media.push(d);
                              }
                            }
                            $scope.max_id = response.pagination.next_max_id;
                            if(response.pagination.next_url){
                                $scope.loadMedia();
                            } else {
                                $scope.loading = false;
                            }
                        }
                    ).error(
                        function(response, status){

                        }
                    );
            }
        };

        $scope.doSearch = function(){
            $scope.loadMedia();
        };

        $scope.searchUser = function(){
            if($scope.search.username && $scope.search.username.length>=3){
                var url = 'https://api.instagram.com/v1/users/search?q=' + $scope.search.username + '&access_token=' + $scope.access_token + '&count=1&callback=JSON_CALLBACK';
                $http.jsonp(url)
                    .success(function(response){
                        if(response.data[0].username.toLowerCase()==$scope.search.username.toLowerCase()){
                            $scope.search.foundUser = response.data[0].id;
                            $scope.search.thumbnail = response.data[0].profile_picture;
                        }
                    });
            }
        }

        $scope.setSearchId = function(id){
            $scope.search.id = id;
            if(id==$scope.user.id)
                $scope.search.username = $scope.user.data.username;
            if(id){
                $scope.loadMedia();
            }
            else{
                $scope.search.username = '';
                $scope.search.word = '';
                $scope.media = [];
                $scope.count = null;
            }
        };

        $scope.toggleComments = function(){
          $scope.media = [];
          $scope.count = null;
          $scope.loadMedia();
        };

    }]);






      var access_token = '';


  </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17682747-10', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
